:root {
	--c-primary: #2584ff;
	--c-secondary: #00d9ff;
	--c-accent: #ff3400;
	--c-headings: #1b0750;
	--c-body: #918ca4;
}

/* Typography */

html {
	/* 62.50% of default browser setting  || 16px * 62.5% = 10px  */
	font-size: 62.5%;
}

body {
	font-family: Inter, Arial, Arial, Helvetica, sans-serif;
	font-size: 2.4rem;
	color: var(--c-body);
	line-height: 1.5;
}

h1,
h2,
h3 {
	color: var(--c-headings);
	margin-bottom: 1rem;
}

h1 {
	/* 7x font size of the html element */
	font-size: 7rem;
}

h2 {
	font-size: 4rem;
}

h3 {
	font-size: 3rem;
}

/*  Set p margin to 0. Let the margin be decided by the heading element.  */
p {
	margin-top: 0;
}

/* Links */
a {
	text-decoration: none;
}

.link-arrow {
	color: var(--c-accent);
	text-transform: uppercase;
	font-size: 2rem;
	font-weight: bold;
}

.link-arrow::after {
	content: '-->';
	margin-left: 5px;
	transition: margin 0.15s;
}

@media scree and (min-width: 1024px) {
	.link-arrow {
		font-size: 1.5rem;
	}
}

.link-arrow:hover::after {
	margin-left: 10px;
}

/* Badges */
.badge {
	border-radius: 20px;
	font-size: 2rem;
	font-weight: 600;
	padding: 0.5rem 2rem;
	white-space: nowrap;
}

.badge--primary {
	background-color: var(--c-primary);
	color: #fff;
}

.badge--secondary {
	background-color: var(--c-secondary);
	color: #fff;
}

.badge--small {
	font-size: 1.6rem;
}

@media screen and (min-width: 1024px) {
	.badge {
		font-size: 1.5rem;
	}

	.badge--small {
		font-size: 1.2rem;
	}
}

/*  Lists */
.list {
	list-style: none;
	/* Gets rid of the left paddings */
	padding-left: 0;
	color: var(--c-headings);
}

.list--inline .list__item {
	display: block;
	margin-right: 2rem;
}

.list--tick .list__item {
	padding-left: 0.5;
	margin-bottom: 1rem;
}

.list--tick .list__item::before {
	content: '\02713';
	color: green;
	padding-left: 3rem;
	margin-right: 1rem;
}

@media screen and (min-width: 1024px) {
	.list--thick .list__item {
		padding-left: 0;
	}
}

/* Icons */

@media screen and (min-width: 1024px) {
	body {
		font-size: 1.8rem;
	}

	h1 {
		font-size: 8rem;
	}

	h2 {
		font-size: 4rem;
	}

	h3 {
		font-size: 2.4rem;
	}
}
